    
<mat-dialog-content disableClose="true"  role="dialog"  align="center" class="w-full spacey-2 h-full min-w-full min-h-full rounded-0 p-[10%] bg-slate-50 dark:bg-slate-850">
    <div class="flex-col w-full mb-5 align-middle columns-2">
      <div class="flex justify-start ">
        <p class="float-left text-2xl text-black text-start dark:text-white">Passwor Recovery</p>
      </div>
      <div class="flex justify-end">
        <button (click)="matdialogRef.close()" color="warn" mat-raised-button >
          <mat-icon  fontIcon="close"></mat-icon> <span>close</span> 
        </button>
      </div>
    </div>

   
    <form role="form text-left w-full" enctype="multipart/form-data" (ngSubmit)="confirmCurrentPasswor()" [formGroup]="oldPasswordForm">
        <div class="w-full mb-4">
            <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Confirmate Current Passoword</span>
            <div class="relative">
                <input 
                type={{type}} 
                class="placeholder:text-gray-700 disabled:opacity-50 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3  font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
                placeholder="Confirmate password" 
                formControlName="oldPassword"
                />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5">
                    <button (click)="changeVisibility()" *ngIf="visibility" mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                        <mat-icon>visibility_off</mat-icon>
                    </button>
                    <button (click)="changeVisibility()"  *ngIf="!visibility" mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
    
            </div>
            <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
                class="alert alert-danger">
    
                <div  *ngIf="oldPassword?.errors?.['required']">
                <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                    <mat-icon class="mx-2"  fontIcon="error"/> 
                    password is required.
                </span>
                </div>
                <div *ngIf="oldPassword?.errors?.['minlength']">
                <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                    <mat-icon class="mx-2"  fontIcon="error"/>
                    Name must be at least 8 characters long.
                </span>
                </div>
            </div>
        </div> 
        <div *ngIf="!isOldPasswordValid" class="w-full mb-4">
            <button type="submit" mat-raised-button [disabled]="oldPassword?.invalid" color="warn" ><mat-icon>security</mat-icon>Confirmate Password</button>
        </div>        
    </form>
    <form role="form text-left w-full" enctype="multipart/form-data" (ngSubmit)="passwordRecoveryForm()" [formGroup]="newPasswordForm">
        
        <div class="w-full mb-4">
            <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Password </span>
            <input 
            type={{type}} 
            class="placeholder:text-gray-700 disabled:opacity-50 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3  font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
            placeholder="password" 
            formControlName="password"
            />
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                class="alert alert-danger">

            <div  *ngIf="password?.errors?.['required']">
                <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                <mat-icon class="mx-2"  fontIcon="error"/> 
                password is required.
                </span>
            </div>
            <div *ngIf="password?.errors?.['minlength']">
                <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                <mat-icon class="mx-2"  fontIcon="error"/>
                Name must be at least 8 characters long.
                </span>
            </div>
            </div>

        </div>
        <div class="w-full mb-4">
            <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Password  Confirmation</span>
            <div class="relative">
            <input 
            type={{type}}
            class="placeholder:text-gray-700 disabled:opacity-50 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3  font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
            placeholder="Confirmation Passoword" 
            formControlName="confirmationPassword"
            />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5">
                <button (click)="changeVisibility()" [disabled]="!confirmationPassword?.touched" *ngIf="visibility" mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                    <mat-icon>visibility_off</mat-icon>
                </button>
                <button (click)="changeVisibility()" [disabled]="!confirmationPassword?.touched" *ngIf="!visibility" mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                    <mat-icon>visibility</mat-icon>
                </button>
            </div>

            </div>
            <div *ngIf="confirmationPassword?.invalid && (confirmationPassword?.dirty || confirmationPassword?.touched)">
                <div  *ngIf="confirmationPassword?.errors?.['required']">
                    <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                    <mat-icon class="mx-2"  fontIcon="error"/> 
                        Confirmation Password is required.
                    </span>
                </div>
                <div *ngIf="confirmationPassword?.errors?.['minlength']">
                    <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                    <mat-icon class="mx-2"  fontIcon="error"/>
                    Confirmation Password must be at least 8 characters long.
                    </span>
                </div>
            </div>
            <div class="w-full mb-4"  *ngIf="(confirmationPassword?.dirty || confirmationPassword?.touched) && (password?.dirty || password?.touched)" >
                <div *ngIf="!isPassworCorrect">
                <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                    <mat-icon class="mx-2"  fontIcon="error"/> 
                    Password End Confirmation are not equals
                </span>
                </div>
            </div>
        </div>
        <div class="w-full mb-4">
            <button mat-raised-button [disabled]="!(!newPasswordForm.invalid && isPassworCorrect && confirmationPassword?.touched)" color="accent" ><mat-icon>update</mat-icon>Change Password</button>
        </div>  
    </form>     
 
</mat-dialog-content>
